<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Paye ton domaine</title>
    <!-- <link rel="icon" type="image/png" href="/favicon.png" /> -->
    <!-- <link rel="stylesheet" href="/bundle.css" />
    <script defer src="/bundle.js"></script> -->
    <style type="text/css">
    .article-ok {
      display: none
    }
    .ok {
      color: #28a745;
      fill: #28a745;
    }
    .recent {
      color: #28a745;
      fill: #28a745;
    }
    .soon {
      color: #fdbf05;
      fill: #fdbf05;
    }

    .description {
      font-style: italic;
    }

    attr {
      text-decoration: underline;
      text-decoration-style: dashed;
    }

    .pay {
      display: inline-flex;
      align-self: center;
      padding: 6px 16px;
      margin: 8px;
      font-size: 0.875rem;
      color: #007bff;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
      border: thin solid currentColor;
    }
    .pay svg {
      width: 1rem;
      height: 1rem;
      margin-right: 8px;
      margin-left: -4px;
      position: relative;
    }
    .pay span {}

    body {
      max-width: 640px;
      margin: 0 auto;
      padding: 0 10px;
    }

    footer {
      margin-top: 2em;
      padding: 1em 0;
      border-top: solid 1px black;
      font-size: 0.875rem;
    }
    </style>

  </head>
  <body>
    <h1>Paye ton domaine</h1>

    <p>Vous aimez un des sites de cette <a href="https://github.com/severo/tip_by_domain_renewal/blob/master/src/domains.json">liste</a> ?
    Montrez-le en renouvelant le nom de domaine pour une année ou plus.</p>
    <p>Chaque lien vous conduit vers l'interface de paiement pour le domaine souhaité.
    Il n'est pas nécessaire d'être propriétaire du domaine pour le renouveler.</p>

    {{#hasRecent}}
    Domaines récemment payés (merci !)
    {{/hasRecent}}
    {{#recent}}
    <article class="article-{{class}}">
      <header>
        <h4>
          {{name}}
          <a href='{{url}}'><svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z" />
          </svg></a>
        </h4>
      </header>
    </article>
    {{/recent}}

    <hr>

    {{#domains}}
    <article class="article-{{class}}">
      <header>
        <h2>
          {{name}}
          <a href='{{url}}'><svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z" />
          </svg></a>
        </h2>

        <p class="description">{{description}}</p>
      </header>
      <p>
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path class="{{class}}" d="M23,12L20.56,9.22L20.9,5.54L17.29,4.72L15.4,1.54L12,3L8.6,1.54L6.71,4.72L3.1,5.53L3.44,9.21L1,12L3.44,14.78L3.1,18.47L6.71,19.29L8.6,22.47L12,21L15.4,22.46L17.29,19.28L20.9,18.46L20.56,14.78L23,12M13,17H11V15H13V17M13,13H11V7H13V13Z" />
        </svg>
        Le domaine <code>{{domain}}</code> expire <attr title="{{expirationDate}}">dans {{daysLeft}} jours</attr>.
        <a class="pay" href='https://shop.gandi.net/fr/domain/renew/?search={{domain}}'>
          <svg viewBox="0 0 24 24">
            <path fill="#007bff" d="M20,8H4V6H20M20,18H4V12H20M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" />
          </svg>Payer
        </a>
      </p>
    </article>
    {{/domains}}
    {{^domains}}
      <h2>Tout va bien !</h2>

      <p>Tous les <a href="https://github.com/severo/tip_by_domain_renewal/blob/master/src/domains.json">domaines</a> sont encore valides pendant un an ou plus. Rien à faire pour l'instant !</p>

      <img src='assets/day26-rainbow.svg' max-width="600px"/>
    {{/domains}}

    <footer>Dernière mise à jour : {{date}}</footer>
  </body>
</html>
